
.card {
  display: inline-block;
  margin: 20px 0;
}

.products_container {
  padding: 10px;
}

.card_description {
  flex-direction: column;
  text-align: center;
  padding: 0px 30px;
}

.imgSlider {
  width: 250px;
  height: 250px;
  transition: all 0.3s ease;
}

.imgSlider:hover {
  transform: scale(1.1);
}

.titleSlider {
  width: 250px;
}

.search__img {
  width: 20px;
  position: relative;
  top: 4px;
  left: 5px;
}

