.novelty {
  color: #343434;
  font-size: 25px;
  padding-left: 135px;
  padding-top: 315px;
}

.novelty::first-letter {
  color: #FF9619;
}

.position_catalog {
  position: relative;
  left: 600px;
  top: 100px;
}